@define-color borders_breeze #4c4d57;
@define-color content_view_bg_breeze #1e1e29;
@define-color error_color_backdrop_breeze #e28c8c;
@define-color error_color_breeze #e28c8c;
@define-color error_color_insensitive_backdrop_breeze #59454f;
@define-color error_color_insensitive_breeze #59454f;
@define-color insensitive_base_color_breeze #2b2b38;
@define-color insensitive_base_fg_color_breeze #565763;
@define-color insensitive_bg_color_breeze #2b2b38;
@define-color insensitive_borders_breeze #363643;
@define-color insensitive_fg_color_breeze #565763;
@define-color insensitive_selected_bg_color_breeze #2b2b38;
@define-color insensitive_selected_fg_color_breeze #565763;
@define-color insensitive_unfocused_bg_color_breeze #2b2b38;
@define-color insensitive_unfocused_fg_color_breeze #565763;
@define-color insensitive_unfocused_selected_bg_color_breeze #2b2b38;
@define-color insensitive_unfocused_selected_fg_color_breeze #565763;
@define-color link_color_breeze #a4b9ef;
@define-color link_visited_color_breeze #9b59b6;
@define-color success_color_backdrop_breeze #b3e1a3;
@define-color success_color_breeze #b3e1a3;
@define-color success_color_insensitive_backdrop_breeze #4e5955;
@define-color success_color_insensitive_breeze #4e5955;
@define-color theme_base_color_breeze #1e1e29;
@define-color theme_bg_color_breeze #1e1e29;
@define-color theme_button_background_backdrop_breeze #332e41;
@define-color theme_button_background_backdrop_insensitive_breeze #443e54;
@define-color theme_button_background_insensitive_breeze #443e54;
@define-color theme_button_background_normal_breeze #332e41;
@define-color theme_button_decoration_focus_backdrop_breeze #a4b9ef;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #606070;
@define-color theme_button_decoration_focus_breeze #a4b9ef;
@define-color theme_button_decoration_focus_insensitive_breeze #606070;
@define-color theme_button_decoration_hover_backdrop_breeze #a4b9ef;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #606070;
@define-color theme_button_decoration_hover_breeze #a4b9ef;
@define-color theme_button_decoration_hover_insensitive_breeze #606070;
@define-color theme_button_foreground_active_backdrop_breeze #d7dae0;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #565763;
@define-color theme_button_foreground_active_breeze #15121c;
@define-color theme_button_foreground_active_insensitive_breeze #565763;
@define-color theme_button_foreground_backdrop_breeze #d7dae0;
@define-color theme_button_foreground_backdrop_insensitive_breeze #696773;
@define-color theme_button_foreground_insensitive_breeze #696773;
@define-color theme_button_foreground_normal_breeze #d7dae0;
@define-color theme_fg_color_breeze #d7dae0;
@define-color theme_hovering_selected_bg_color_breeze #1e1e29;
@define-color theme_selected_bg_color_breeze #a4bbef;
@define-color theme_selected_fg_color_breeze #15121c;
@define-color theme_text_color_breeze #d7dae0;
@define-color theme_titlebar_background_backdrop_breeze #1e1e29;
@define-color theme_titlebar_background_breeze #1e1e29;
@define-color theme_titlebar_background_light_breeze #1e1e29;
@define-color theme_titlebar_foreground_backdrop_breeze #6e6c7c;
@define-color theme_titlebar_foreground_breeze #d7dae0;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #6e6c7c;
@define-color theme_titlebar_foreground_insensitive_breeze #6e6c7c;
@define-color theme_unfocused_base_color_breeze #1e1e29;
@define-color theme_unfocused_bg_color_breeze #1e1e29;
@define-color theme_unfocused_fg_color_breeze #d7dae0;
@define-color theme_unfocused_selected_bg_color_alt_breeze #394153;
@define-color theme_unfocused_selected_bg_color_breeze #394153;
@define-color theme_unfocused_selected_fg_color_breeze #d7dae0;
@define-color theme_unfocused_text_color_breeze #d7dae0;
@define-color theme_unfocused_view_bg_color_breeze #2b2b38;
@define-color theme_unfocused_view_text_color_breeze #565763;
@define-color theme_view_active_decoration_color_breeze #a4b9ef;
@define-color theme_view_hover_decoration_color_breeze #a4b9ef;
@define-color tooltip_background_breeze #1e1e29;
@define-color tooltip_border_breeze #4c4d57;
@define-color tooltip_text_breeze #d7dae0;
@define-color unfocused_borders_breeze #4c4d57;
@define-color unfocused_insensitive_borders_breeze #363643;
@define-color warning_color_backdrop_breeze #f7c196;
@define-color warning_color_breeze #f7c196;
@define-color warning_color_insensitive_backdrop_breeze #5e5152;
@define-color warning_color_insensitive_breeze #5e5152;
